DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_SSLMODE=
DB_TIMEZONE=
ENV=
API_VERSION=
GIN_MODE=

ADMIN_PASSWORD=Admin123!
ADMIN_EMAIL=admin@admin.com
ADMIN_DOCUMENT=456.534.218.98

JWT_SECRET=your-secret-here

MAILTRAP_TOKEN=6a45f171cfc233e4edc93d8b847cf19f
MAILTRAP_URL="https://send.api.mailtrap.io/api"

AWS_ACCOUNT=087291585097
AWS_REGION=us-east-1
AWS_ECR_REPO=soat13-andromeda/tech-challenge
AWS_TERRAFORM_ROLE=arn:aws:iam::087291585097:role/LabRole

K8S_API_CLUSTER_NAME=eks-tech-challenge-cluster

HTTP_ALLOWED_ORIGINS=
HTTP_URL=
HTTP_PORT=

API_URL=

DD_API_KEY=
DD_SITE=
DD_AGENT_HOST=
DD_SERVICE=
DD_VERSION=
