DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_SSLMODE=
DB_TIMEZONE=
ENV=
HTTP_ALLOWED_ORIGINS=

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRY=
JWT_REFRESH_TOKEN_EXPIRY=

ADMIN_PASSWORD=
ADMIN_EMAIL=

MAILTRAP_TOKEN=
MAILTRAP_URL=

AWS_ACCOUNT=
AWS_REGION=
AWS_ECR_REPO=
AWS_TERRAFORM_ROLE=

K8S_API_CLUSTER_NAME=

API_URL=

DATADOG_API_KEY=