DB_HOST=db
DB_USER=postgres
DB_PASSWORD=Admin123!
DB_NAME=myapp_db
DB_PORT=5432
DB_SSLMODE=disable
DB_TIMEZONE=America/Sao_Paulo
ENV=production
HTTP_ALLOWED_ORIGINS=*
GIN_MODE=release

ADMIN_PASSWORD=Admin123!
ADMIN_EMAIL=admin@admin.com
ADMIN_DOCUMENT=456.534.218.98

JWT_SECRET=your-secret-here

MAILTRAP_TOKEN=6a45f171cfc233e4edc93d8b847cf19f
MAILTRAP_URL="https://send.api.mailtrap.io/api"

AWS_ACCOUNT=087291585097
AWS_REGION=us-east-1
AWS_ECR_REPO=soat13-andromeda/tech-challenge
AWS_TERRAFORM_ROLE=arn:aws:iam::087291585097:role/LabRole

K8S_API_CLUSTER_NAME=tech-challenge-api-cluster
